<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  title: <%= title %><br>
  <%= mensaje %><br>
  <a href="/nivel/agregar">Agregar Registro</a>
  <table>
    <thead>
      <th>id</th>
      <th>Nombre</th>
      <th>Acciones</th>
    </thead>
    <tbody>
      <% niveles.forEach((nivel) => { %>
      <tr>
        <td><%= nivel.id %></td>
        <td><%= nivel.nombre %></td>
        <td>
          <a href="/nivel/editar?id=<%= nivel.id %>">Editar</a>
          <a href="/nivel/eliminar?id=<%= nivel.id %>">Eliminar</a>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>  
</body>
</html>